* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #00bfff 0%, #07daff 50%, #00bfff 100%);
  background-size: 100% 200px;
  animation: wave 2s linear infinite;
  width: 100vw; 
}

@keyframes wave {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -200px;
  }
}
